@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: #3b3f44 !important;
  --toastify-text-color-light: #bbbec4  !important;
  --toastify-font-family: 'Open Sans' !important;
}

.Toastify__toast {
  box-shadow: 0 0 0 0.05rem #53585f !important;
}


.Toastify__close-button > svg {
  fill: #fff !important;
}

input[type="file"] {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  background: #242629;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  background: #018ce5;
  border: none;
  padding: 0.15rem 0.25rem;
  border-radius: 0.15rem;
  margin-right: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #016db2;
  color: #e6f5ff;
}

input#file-upload-button {
  background: red !important;
}